/*bleu #0065FC, et sa version plus claire #DEEBFF
ainsi que le gris pour le fond #F2F2F2.
La police du site est Raleway.*/

body{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
    display: grid; 
    grid-auto-flow: dense;
    grid-template-columns: 2fr 1fr; 
    gap: 20px 30px;
}
.header{
    margin-top: 20px;
    grid-column: 1/-1; 
    display: flex;
    justify-items: center;
    justify-content: flex-end;
    align-items: flex-end;
}
.header .header--logo{
    margin-right: auto;
}
.header--logo img{
    text-align: start;
    margin-top: 10px;
    width: 80px;
    height: auto;
}
.header a{
    text-decoration: none;
    color: #0065FC;
    width: 120px;
    text-align: center;
}
.header .header__navigation--activities{
    margin-left: 15px;
    color: grey;
}
.header__navigation--inscription{
    margin-left: 15px;
    font-weight: 700;
}

.header__navigation--accommodation::before, .header__navigation--activities:hover::before, .header__navigation--inscription:hover::before{
    content: '';
    width: 110px;
    height: 2px;
    display: block;
    position: absolute;
    top: 0px;
    background: #0065FC;
}
.header__navigation--activities:hover::before{
    background: grey;
}
.search{
    grid-column: 1/-1; 
}
label{
    display: none;
}
.search__title{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
.search p{
    font-size: 0.9em;
    font-weight: 200;
    padding: 0;
    margin-top: 5px;
}
.search__bar{
    display: flex;
}
.search__bar i{
    display: flex;
    background: #F2F2F2;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    margin: 0;
}
.search__bar input{
    height: 40px;
    width: 250px;
    border: solid 1px #F2F2F2;
    border-radius: 0px;
}
.search__bar input::placeholder{
    color: black;
}
.search__bar button{
    color: #FFFF;
    background-color: #0065FC;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    margin: 0;
}
.search__bar button:hover{
    background-color: #5797f8;
}
.search__filter{
    margin-top: 25px;
    display: flex;
    font-weight: 500;
}
.search__filter a{
    text-decoration: none;
    color: black;
}
.search__filter p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1em;
    margin-right: 25px;
    height: 30px;
}
.search__filter--categories{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius:40px;
    height: 40px;
    margin-right: 20px;
}
.search__filter--categories i{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 40px;
    width: 40px;
    background: #F2F2F2;
    border-radius: 100%;
    color: #0065FC;
    padding-left: 0;
}
.search__filter--categories p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    margin-right: 20px;
}
.search__filter--categories:hover{
    background: #F2F2F2;
    color: #0065FC;
}
.search__info{
    display: flex;
    font-size: 0.9em;
    font-weight: 200;
}
.search__info i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: solid 1px #F2F2F2;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    margin-right: 10px;
    gap: 0px 0px; 
}
.results__location{
    padding: 40px 30px;
    background: #F2F2F2;
    border-radius: 20px;
    display: grid; 
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px 20px; 
    max-width: 100%;   
}
.results__location a {
    text-decoration: none;
    color: black;
}
.results__location article{
    transition: all 0.5s;
}
.results__location article:hover{
    transition: all 0.5s;
    transform: translate(10px,10px);
}
.results__location--item{
    background: #FFFF;
    border: solid 5px #FFFF;
    border-radius: 15px;  
    box-shadow: 5px 5px 22px -9px rgba(0,0,0,0.3);
}

.results__location--item img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.results__location--item h2{
    font-size: 1.1em;
    padding: 0;
    margin: 5px 0 5px 10px;
}
.results__location--item p{
    font-size: 0.9em;
    padding: 0;
    margin: 0 0 5px 10px;
}
.results__location--title{
    grid-column: 1/-1; 
    height: 40px;
    padding: 0;
    margin: 0;
}
.results__location--plus {
    margin-top: 30px;
    text-decoration: none;
    color: black;
}
.results__location--star{
    padding-left: 10px;
    margin-top: 20px;
}
.results__location .active, .results__popular .active{
    color: #0065FC;
}
.results__location .inactive, .results__popular .inactive{
    color: #F2F2F2;
}
.results__location--plus{
    font-weight: 700;
}
.results__popular{
    padding: 40px 30px;
    background: #F2F2F2;
    border-radius: 20px;
    display: grid; 
    grid-auto-flow: dense; 
    grid-template-columns: 1fr; 
    gap: 20px 0px; 
    max-width: 100%; 
}
.results__popular a {
    text-decoration: none;
    color: black;
}
.results__popular article{
    transition: all 0.5s;
}
.results__popular article:hover{
    transition: all 0.5s;
    transform: translate(10px,10px);
}
.results__popular--item{
    display: flex;
    background: #FFFF;
    width: 100%;
    height: 150px;
    border: solid 5px #FFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 22px -9px rgba(0,0,0,0.3);
}
.results__popular--item img{
    width: 150px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.results__popular--title{
    grid-column: 1/-1; 
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results__popular--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 20px;
    width: 100%;
}
.results__popular--item h2{
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
.results__popular--item p{
    font-size: 0.9em;
    padding: 0;
    margin: 5px 0;
}
.activities{
    grid-column: 1/-1;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "activities__title activities__title activities__title activities__title" 
    "activities__article1 activities__article2 activities__article4 activities__article5" 
    "activities__article1 activities__article2 activities__article4 activities__article5" 
    "activities__article1 activities__article2 activities__article4 activities__article6" 
    "activities__article1 activities__article3 activities__article4 activities__article6" 
    "activities__article1 activities__article3 activities__article4 activities__article6"; 
    gap: 30px; 
}
.activities__title{ grid-area: activities__title; }
.activities__article1{ grid-area: activities__article1; }
.activities__article2{ grid-area: activities__article2; }
.activities__article3{ grid-area: activities__article3; }
.activities__article4{ grid-area: activities__article4; }
.activities__article5{ grid-area: activities__article5; }
.activities__article6{ grid-area: activities__article6; }

.activities a{
    text-decoration: none;
    color: black;
}
.activities article{
    transition: all 0.5s;
    box-shadow: 5px 5px 22px -9px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.activities article:hover{
    transition: all 0.5s;
    transform: rotate(3deg);
    box-shadow: 5px 5px 22px -9px rgba(0,0,0,0.7);
}
.activities p{
    margin-left: 15px;
    font-weight: 500;
}
.activities img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activities__article1 img{
    height: 450px;
}
.activities__article2 img{
    height: 225px;
}
.activities__article3 img{
    height: 150px;
}
.activities__article4 img{
    height: 450px;
}
.activities__article5 img{
    height: 150px;
} 
.activities__article6 img{
    height: 225px;
}
.footer{
    grid-column: 1/-1 ;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    max-width: 100%;
    background: #F2F2F2;
    height: 200px;
    margin-top: 30px;
    border-radius: 15px;
}
.footer p{
    padding-left: 40px;
}
.footer ul{
    font-weight: 500;
}
.footer li{
    list-style: none;
    margin-top: 15px;
}
.footer a{
    text-decoration: none;
    color: grey;
    font-weight: 200;
}
.more_information{
    margin-right: 10%;
}
@media screen and (max-width: 1200px) and (min-width: 750px){
    body{
        max-width: 1200px;
        display: grid; 
        grid-auto-flow: dense;
        grid-template-columns: 1fr; 
        gap: 20px 30px;
    }
    .search__filter--categories{
        margin-right: auto;
    }
    .results__popular{
        grid-row: 3;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 20px;  
    }
    .results__popular--item{
        display: block;
        height: 100%;
        width: auto;
    }
    .results__popular--item img{
        width: 100%;
        height: 125px;
        border-radius: 15px 15px 0 0;
    }
    .results__popular--info{
        display: block;
        margin: 0;
        padding: 0;
    }
    .results__popular--info h2{ 
        display: block;
        padding: 0;
        margin: 5px 0 5px 10px;
    }
    .results__popular--info p{ 
        display: block;
        padding: 0;
        margin: 0 0 5px 10px;
    }
    .results__popular--plus {
        margin-top: 30px;
    }
    .results__popular--star{
        padding-left: 10px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 750px) {
    body{
        max-width: 750px;
        display: grid; 
        grid-auto-flow: dense;
        grid-template-columns: 1fr; 
        gap: 20px 30px;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }
    .header{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 15px;
    }
    .header .header--logo{
        order: -2;
        text-align: start;
        width: 50%;
        padding: 0;
        margin: auto 0;
    }
    .header .header__navigation--inscription{
        width: 50%;
        padding: 0;
        order: -1;
        margin: auto 0 auto 0;
    }
    .header .header__navigation--accommodation, .header .header__navigation--activities {
        width: 50%;
        margin: 15px 0 0;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 3px solid #F2F2F2;
    }
    .header .header__navigation--accommodation {
        border-bottom: 3px solid #0065FC;
    }
    .header__navigation--accommodation::before, .header__navigation--activities:hover::before, .header__navigation--inscription:hover::before{
        content: none;
    }
    .search{
        margin-left: 15px;
    }
    .search__title{
        width: 25ch;
    }
    .search__bar button{
        visibility: hidden;
    }
    .search__bar button:after{
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002";
        visibility: visible;
        display: flex;
        background: #0065FC;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 0 10px 10px 0;
        margin-left: -10px;
        margin-top: -15px;
    }
    .search__filter{
        flex-wrap: wrap;
    }
    .search__filter .search__filter--title{
        width: 100%;
        justify-content: start;
    }
    .search__filter--categories{
        margin: 0 15px 15px 0;
    }
    .results__location{
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-right: 0;
        background: none;
    }
    .results__location--item img{
        width: 100%;
        height: 175px;
    }
    .results__location--star{
        font-size: 0.9em;
        padding-bottom: 5px;
    }
    .results__popular{
        grid-row: 3;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
    .results__popular--item h2{
        font-size: 1.1em;
        width: 17ch;
    }
    .results__popular--item p{
        font-size: 0.8em;
    }
    .results__popular--star{
        font-size: 0.9em;
    }
    .activities{
        margin: 0 30px;
        grid-column: 1/-1;
        display: grid;
        grid-template-areas:
        "activities__title" 
        "activities__article1" 
        "activities__article2" 
        "activities__article3" 
        "activities__article4" 
        "activities__article5" 
        "activities__article6"; 
        gap: 30px; 
    }
    .activities__title{ grid-area: activities__title; }
    .activities__article1{ grid-area: activities__article1; }
    .activities__article2{ grid-area: activities__article2; }
    .activities__article3{ grid-area: activities__article3; }
    .activities__article4{ grid-area: activities__article4; }
    .activities__article5{ grid-area: activities__article5; }
    .activities__article6{ grid-area: activities__article6; }
    
    .activities img{
        height: 200px;
        width: 100%;
    }

    .footer{
        display: block;
        height: auto;
    }
    .more_information{
        margin-bottom: 40px;
    }
}